.find-us-container {
  background-image: url('../../assets/images/background_1.jpg'); /* Update with the correct path */
  background-size: cover;
  background-position: center;
  padding: 2rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: for better text readability */
}

.find-us-header {
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(13, 9, 9); /* Text color for the header */
}

.card-no-border {
  border: none; /* Remove border */
  box-shadow: none; /* Remove box shadow */
}

.card-body-no-padding {
  padding: 0; /* Remove padding */
}

.location {
  background: transparent; /* No background color */
  border: none; /* Remove border */
  box-shadow: none; /* Remove box shadow */
  margin-bottom: 1rem;
  padding: 1rem;
  color: black; /* Text color for the location details */
}

.location h3 {
  margin-top: 0;
  color: black; /* Text color for the h3 elements */
}

.location p {
  margin: 0.2rem 0;
  color: black; /* Text color for the paragraph elements */
}
